:root {
  /* Utility Colors */
  --black: #000000;
  --cod-gray: #141414; /* prev gray-1 */
  --mine-shaft: #323232; /* prev gray-2 */
  --scorpion: #5f5f5f; /* prev gray-3 */
  --gray: #8c8c8c; /* prev gray-4 */
  --silver-chalice: #b2b2b2; /* prev gray-5 */
  --silver: #cdcdcd; /* prev gray-6 */
  --gallery: #ebebeb; /* prev gray-7 */
  --white: #ffffff;

  /* Brand Colors */
  --selective-yellow: #ffb500;
  --mai-tai: #af6d04;
  --affair: #85458a;
  --blumine: #1c5687;
  --faded-jade: #4c7d7a;

  /* Fonts */
  --humanist: 'Humanist', serif;
  --futura: 'Futura Bold', sans-serif;
  --egypt: 'Egyptienne', serif;

  /* Breakpoints */

  /*
  --bp-large: 50em;
  $bp-small: 24em; // 384px
  $bp-small-2: 29.75em; // 476px
  $bp-small-3: 39.8em; // 636.8px
  $bp-med: 46.8em; // 748.8px
  $bp-med-2: 48em; // 768px
  $bp-large-2: 66em; // 1056px
  $bp-xl: 73em; // 1168px
  $bp-xl-2: 1240px;
  $bp-xxl: 89em; // 1424px
  $bp-xxxl: 93em; // 1488px
  */

  /* Other */
  --max-width: 1180px;
}
