@import './_normalize.css';
@import './_fonts.css';

body {
  font-family: 'Humanist', serif;
  font-size: 62.5%;
}

p { font-size: 1.6em; }
p.medium { font-size: 1.8em; }
p.large { font-size: 2em; }
   
@media screen and (min-width: 50em) {
  p { font-size: 1.8em; }  
  p.medium { font-size: 2.1em; }
  p.large { font-size: 2.4em; }
}