header {
  border-top: 7px solid $selective-yellow;
}

.top-bar {
  align-items: center;
  border-bottom: 1px solid $cod-gray;
  display: flex;
  flex-direction: row;
  height: 70px;
  padding: 0 5%;

  h2 {
    display: inline-block;
    font-family: $futura;
    font-size: 1.7em;
    margin: 0 0 0 1em;
  }
}

#nav-container {
  background-color: $mine-shaft;
  display: flex;
  flex-direction: column;
  height: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 78px;
  transition: height 250ms ease;
  z-index: 10;

  &.open {
    height: 100vh;
  }
}


@media screen and (min-width: 1080px) {
  #nav-container {
    background-color: $white;
    padding-bottom: 0;
    position: relative;
    top: 0;

    &.open {
      height: auto;
    }
  }
}
