@import url(../../_settings/_variables.css);
blockquote {
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 10% 5%;
  text-align: center; }
  blockquote cite {
    color: var(--selective-yellow);
    font-style: normal; }
    blockquote cite span {
      display: block;
      margin-bottom: 0.5em; }
    blockquote cite .subhead {
      text-transform: uppercase; }
    blockquote cite .second-line {
      font-size: 1.6em;
      font-style: italic; }

@media screen and (min-width: 50em) {
  blockquote p {
    margin: 0 auto 5%;
    max-width: var(--max-width); } }
