.utility {
  order: 2;

  > div {
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    width: 100%;
  }

  h2 {
    display: none;
  }

  a {
    align-items: center;
    color: $gray;
    display: flex;
    font-family: $futura;
    font-size: 1.5em;
    letter-spacing: 0.2em;
    margin-bottom: 0.25em;
    order: 2;
    padding: 1em 5%;
    text-decoration: none;
    text-transform: uppercase;

    .link-label { margin-left: 0.5em; }

    svg {
      margin-right: 1em;

      .st0 {
        fill: $gray;
      }
    }

    &.product {
      color: $selective-yellow;

      svg .st0 {
        fill: $selective-yellow;
      }
    }
  }
}

@media screen and (min-width: 1080px) {
  .link-label {
    display: none;
  }

  .utility {
    background-color: $gallery;

    > div {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
      max-width: $max-width;
      order: 1;
      padding: 1em 2.5%;
      width: 95%;

      > div {
        align-items: center;
        display: flex;
        order: 2;
      }
    }

    .company {
      order: 1;
    }

    h2 {
      color: $gray;
      display: inline-block;
      font-family: $futura;
      font-size: 1.3em;
      letter-spacing: 0.2em;
      order: 2;
      text-transform: uppercase;
    }

    a {
      color: $black;
      font-size: 1.3em;
      margin-bottom: 0;
      order: 1;
      padding: 0;
      transition: color 250ms ease;

      &:hover,
      &:focus {
        color: $selective-yellow;
      }

      &.company {
        font-size: 2.3em;
        letter-spacing: 0;
        text-transform: none;

        svg {
          display: none;
        }
      }

      &.product {
        color: $black;
        order: 3;
        padding-left: 3em;
        transition: color 250ms ease;

        svg .st0 {
          fill: $black;
        }

        &:hover,
        &:focus {
          color: $selective-yellow;
        }
      }
    }
  }
}


@media screen and (min-width: 1250px) {
  .utility {
    > div {
      padding: 1em 0;
      width: 100%;
    }
  }
}
