@import url(../../_settings/_variables.css);
.product-intro {
  padding: 10% 5%;
  text-align: center; }
  .product-intro p {
    margin-top: 2em; }
  .product-intro .context-head {
    margin-bottom: 2em; }
  .product-intro.product-intro--gray {
    background-color: var(--gallery); }

@media screen and (min-width: 50em) {
  .product-intro {
    padding: 5%; }
    .product-intro > div {
      margin: 0 auto;
      max-width: 780px; } }
