@import '../../_settings/_variables.css';

.product-intro {
  padding: 10% 5%;
  text-align: center;

  p { margin-top: 2em; }
  .context-head { margin-bottom: 2em; }

  // Themes
  &.product-intro--gray { background-color: var(--gallery); }
}


@media screen and (min-width: 50em) {
  .product-intro {
    padding: 5%;

    > div {
      margin: 0 auto;
      max-width: 850px;
    }
  }
}
