.half-half {
  display: flex;
  flex-direction: column;
  padding: 5%; }
  .half-half > div:nth-child(2) {
    margin-top: 4em; }

@media screen and (min-width: 50em) {
  .half-half {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1180px;
    padding: 5%; }
    .half-half:first-of-type {
      padding-top: 10%; }
    .half-half:last-of-type {
      padding-bottom: 10%; }
    .half-half > div {
      width: 45%; }
      .half-half > div:nth-child(2) {
        margin-top: 0; }
    .half-half.flip > div {
      order: 2; }
      .half-half.flip > div:nth-child(2) {
        order: 1; } }

@media screen and (min-width: 1250px) {
  .half-half {
    margin: 0 auto;
    padding: 5% 0; } }
