.product-intro {
  padding: 10% 5%;
  text-align: center;

  p { margin: 2em 0 0; }
  .context-head { margin-bottom: 2em; }

  // Themes
  &.product-intro--gray { background-color: $gallery; }
}


@media screen and (min-width: 50em) {
  .product-intro {
    > div {
      margin: 0 auto;
      max-width: 850px;
    }
  }
}
