h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1em;
  margin: 0; }

.page-title {
  font-family: "Egyptienne", serif;
  font-size: 5em; }

.hero-title {
  font-family: "Egyptienne", serif;
  font-size: 3em;
  margin-bottom: 0; }

.section-title {
  font-family: "Futura Bold", sans-serif;
  font-size: 2.5em;
  line-height: 1.2em; }

.headline {
  font-family: "Futura Bold", sans-serif;
  font-size: 2.1em;
  line-height: 1.2em; }

.subhead {
  font-family: "Futura Bold", sans-serif;
  font-size: 1.5em;
  line-height: 1.2em; }
  .subhead.caps {
    letter-spacing: 0.15em;
    text-transform: uppercase; }

.context-head {
  border-bottom: 2px solid;
  display: inline-block;
  font-family: "Futura Bold", sans-serif;
  font-size: 1.3em;
  letter-spacing: 0.15em;
  padding-bottom: 0.5em;
  text-transform: uppercase; }

.mobile-title {
  padding: 0 5%; }

@media screen and (min-width: 50em) {
  .page-title {
    font-size: 7.8em; }
  .hero-title {
    font-size: 4.25em; }
  .section-title {
    font-size: 4em; }
  .headline {
    font-size: 2.6em; }
  .subhead {
    font-size: 1.8em; } }

@media screen and (min-width: 1080px) {
  .mobile-title {
    display: none; } }
