header {
  border-top: 7px solid #ffb500; }

.top-bar {
  align-items: center;
  border-bottom: 1px solid #141414;
  display: flex;
  flex-direction: row;
  height: 70px;
  padding: 0 5%; }
  .top-bar h2 {
    color: #000;
    display: inline-block;
    font-family: "Futura Bold", sans-serif;
    font-size: 1.7em;
    margin: 0 0 0 1em; }

#nav-container {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  height: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 78px;
  transition: height 250ms ease;
  z-index: 10; }
  #nav-container.open {
    height: 100vh; }

@media screen and (min-width: 1080px) {
  #nav-container {
    background-color: #fff;
    padding-bottom: 0;
    position: relative;
    top: 0; }
    #nav-container.open {
      height: auto; } }
