@supports (-ms-ime-align: auto) {
  body {
    overflow-x: hidden; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html {
    line-height: 1; }
  body {
    overflow-x: hidden; }
  .branding-bar img {
    width: 100px; } }
