@import '../../_settings/_variables.css';

.contact-form {
  form {
    background-color: var(--gallery);
    padding: 5%;
    width: 90%;
  }
}

@media screen and (min-width: 50em) {
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h2 {
      margin-bottom: 1em;
      width: 100%;
    }

    label {
      &[for='first_name'],
      &[for='last_name'],
      &[for='company'],
      &[for='zip'],
      &[for='phone'],
      &[for='country_code'] {
        width: 32%;
      }

      &[for='email'],
      &[for='00Nj0000002taVP'] {
        width: 49%;
      }
    }
  }
}
