@import '../../../_settings/helpers/variables';

.button,
.submit {
  appearance: none;
  border: 2px solid;
  cursor: pointer;
  display: block;
  font-family: $futura;
  font-size: 1.4em;
  height: auto;
  letter-spacing: 0.07em;
  outline: 0;
  padding: 1em 3em;
  position: relative;
  text-decoration: none;
  transition: background-color 250ms ease, border-color 250ms ease, color 250ms ease;
  width: 100%;

  // Themes
  &.default {
    background-color: $selective-yellow;
    border-color: $selective-yellow;
    color: $black;

    &:hover,
    &:focus {
      background-color: $school-bus-yellow;
      border-color: $school-bus-yellow;
    }

    &:disabled {
      background-color: $silver;
      border-color: $silver;
      color: $gray;
      cursor: default;
    }
  }

  &.outlined {
    background-color: transparent;
    border-color: $selective-yellow;
    color: $black;

    &:hover,
    &:focus {
      border-color: $school-bus-yellow;
    }

    &:disabled {
      background-color: $silver;
      border-color: $gray;
      color: $gray;
      cursor: default;
    }
  }
}

@media screen and (min-width: 50em) {
  .button,
  .submit {
    width: auto;
  }
}
