.button,
.submit {
  appearance: none;
  border: 2px solid;
  cursor: pointer;
  display: block;
  font-family: "Futura Bold", sans-serif;
  font-size: 1.4em;
  height: auto;
  letter-spacing: 0.07em;
  outline: 0;
  padding: 1em 3em;
  position: relative;
  text-decoration: none;
  transition: background-color 250ms ease, border-color 250ms ease, color 250ms ease;
  width: 100%; }
  .button.default,
  .submit.default {
    background-color: #ffb500;
    border-color: #ffb500;
    color: #000; }
    .button.default:hover, .button.default:focus,
    .submit.default:hover,
    .submit.default:focus {
      background-color: #ffda00;
      border-color: #ffda00; }
    .button.default:disabled,
    .submit.default:disabled {
      background-color: #cdcdcd;
      border-color: #cdcdcd;
      color: #8c8c8c;
      cursor: default; }
  .button.outlined,
  .submit.outlined {
    background-color: transparent;
    border-color: #ffb500;
    color: #000; }
    .button.outlined:hover, .button.outlined:focus,
    .submit.outlined:hover,
    .submit.outlined:focus {
      border-color: #ffda00; }
    .button.outlined:disabled,
    .submit.outlined:disabled {
      background-color: #cdcdcd;
      border-color: #8c8c8c;
      color: #8c8c8c;
      cursor: default; }
  .button.accessibile,
  .submit.accessibile {
    background-color: transparent;
    border: 0;
    padding: 0; }

@media screen and (min-width: 50em) {
  .button,
  .submit {
    width: auto; } }
