@import url(../../_settings/_variables.css);
.button,
.submit {
  appearance: none;
  border: 2px solid;
  cursor: pointer;
  display: block;
  font-family: var(--futura);
  font-size: 1.4em;
  height: auto;
  letter-spacing: 0.07em;
  outline: 0;
  padding: 1em 3em;
  position: relative;
  text-transform: uppercase;
  transition: background-color 250ms ease, border-color 250ms ease, color 250ms ease;
  width: 100%; }
  .button.default,
  .submit.default {
    background-color: var(--selective-yellow);
    border-color: var(--selective-yellow); }
    .button.default a,
    .submit.default a {
      color: var(--black);
      text-decoration: none; }
    .button.default:hover, .button.default:focus,
    .submit.default:hover,
    .submit.default:focus {
      background-color: var(--white);
      border-color: var(--white); }
    .button.default:disabled,
    .submit.default:disabled {
      background-color: var(--silver);
      border-color: var(--silver);
      color: var(--gray);
      cursor: default; }
  .button.outlined,
  .submit.outlined {
    background-color: transparent;
    border-color: var(--selective-yellow); }
    .button.outlined a,
    .submit.outlined a {
      color: var(--black);
      text-decoration: none; }
    .button.outlined:hover, .button.outlined:focus,
    .submit.outlined:hover,
    .submit.outlined:focus {
      background-color: var(--selective-yellow); }
    .button.outlined:disabled,
    .submit.outlined:disabled {
      background-color: var(--silver);
      border-color: var(--gray);
      color: var(--gray);
      cursor: default; }

@media screen and (min-width: 50em) {
  .button,
  .submit {
    width: auto; } }
