button {
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: block;
  height: 20px;
  outline: 0;
  position: relative;
  width: 25px;

  span {
    background-color: var(--scorpion);
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    transform-origin: 0;
    width: 100%;

    &:nth-child(1) {
      top: 0;
      transition: transform 250ms ease;
    }

    &:nth-child(2) {
      opacity: 1;
      top: calc(50% - 1px);
      transition: opacity 250ms ease;
    }

    &:nth-child(3) {
      bottom: 0;
      transition: transform 250ms ease;
    }
  }

  &.open {
    span {
      &:nth-child(1) {
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }
}
