@import '../../_settings/_variables.css';

.primary {
  background-color: var(--white);
  order: 1;
  width: 100vw;
}

nav a {
  background-color: var(--gallery);
  color: var(--black);
  display: block;
  font-family: var(--futura);
  font-size: 1.5em;
  letter-spacing: 0.1em;
  margin-bottom: 0.1em;
  padding: 1em 5%;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 250ms ease;

  &:last-child {
    margin-bottom: 0;
  }
}

.branding-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 3em 0;

  a {
    text-decoration: none;

    h2 {
      transition: color 250ms ease;
    }

    &:hover,
    &:focus {
      h2 {
        color: var(--selective-yellow);
      }
    }
  }
}

@media screen and (min-width: 50em) {
  .primary { order: 2; }

  nav {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: var(--max-width);

    a {
      background-color: var(--white);
      border-bottom: 5px solid var(--white);
      display: inline-block;
      margin: 0 2em 0 0;
      padding: 0 0 1em 0;
      transition: color 250ms ease, border-color 250ms ease;

      &.active { border-color: var(--selective-yellow); }

      &:hover,
      &:focus {
        color: var(--selective-yellow);
      }
    }
  }
}
