label {
  display: block;
  width: 100%; }
  label input {
    border-radius: 0;
    box-sizing: border-box;
    color: #8c8c8c; }
    label input[type='text'] {
      background-image: none;
      border: 0;
      font-family: "Humanist", serif;
      font-size: 1.8em;
      margin-bottom: 1em;
      padding: 0.75em;
      width: 100%; }
    label input:placeholder {
      color: #8c8c8c;
      font-family: "Humanist", serif; }
    label input:required {
      box-shadow: none; }
    label input:focus {
      box-shadow: 0 0 3px #ffb500;
      outline: none; }
  label textarea {
    background-image: none;
    border: 0;
    box-sizing: border-box;
    color: #8c8c8c;
    font-family: "Humanist", serif;
    font-size: 1.8em;
    margin-bottom: 1em;
    padding: 0.75em;
    width: 100%; }
    label textarea:placeholder {
      color: #8c8c8c;
      font-family: "Humanist", serif; }
    label textarea:required {
      box-shadow: none; }
    label textarea:focus {
      box-shadow: 0 0 3px #ffb500;
      outline: none; }
  label select {
    appearance: none;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    color: #8c8c8c;
    font-family: "Humanist", serif;
    font-size: 1.8em;
    margin-bottom: 1em;
    padding: 0.75em;
    width: 100%; }
    label select:required {
      box-shadow: none; }
    label select:focus {
      box-shadow: 0 0 3px #ffb500;
      outline: none; }
    label select option {
      color: #8c8c8c; }
  label.select {
    color: #8c8c8c;
    position: relative; }
    label.select::after {
      background-color: #ffb500;
      background-image: url("./_img/chevron-down.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 50%;
      bottom: 2.5em;
      content: ' ';
      display: block;
      height: 33px;
      position: absolute;
      right: 0.75em;
      width: 33px; }

.bg-gallery {
  background-color: #ebebeb; }

@media screen and (min-width: 50em) {
  input,
  textarea,
  select {
    font-size: 2.1em; } }
