@import '../../../_settings/helpers/variables';

label {
  display: block;
  width: 100%;

  input {
    border-radius: 0;
    box-sizing: border-box;
    color: $gray;

    &[type='text'] {
      background-image: none;
      border: 0;
      font-family: $humanist;
      font-size: 1.8em;
      margin-bottom: 1em;
      padding: 0.75em;
      width: 100%;
    }

    &:placeholder {
      color: $gray;
      font-family: $humanist;
    }

    &:required { box-shadow: none; }

    &:focus {
      box-shadow: 0 0 3px $selective-yellow;
      outline: none;
    }
  }

  textarea {
    background-image: none;
    border: 0;
    box-sizing: border-box;
    color: $gray;
    font-family: $humanist;
    font-size: 1.8em;
    margin-bottom: 1em;
    padding: 0.75em;
    width: 100%;

    &:placeholder {
      color: $gray;
      font-family: $humanist;
    }

    &:required { box-shadow: none; }

    &:focus {
      box-shadow: 0 0 3px $selective-yellow;
      outline: none;
    }
  }

  select {
    appearance: none;
    background-color: $white;
    border: 0;
    border-radius: 0;
    color: $gray;
    font-family: $humanist;
    font-size: 1.8em;
    margin-bottom: 1em;
    padding: 0.75em;
    width: 100%;

    &:required { box-shadow: none; }

    &:focus {
      box-shadow: 0 0 3px $selective-yellow;
      outline: none;
    }

    option { color: $gray; }
  }

  &.select {
    color: $gray;
    position: relative;

    &::after {
      background-color: $selective-yellow;
      background-image: url('./_img/chevron-down.svg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 50%;
      bottom: 2.5em;
      content: ' ';
      display: block;
      height: 33px;
      position: absolute;
      right: 0.75em;
      width: 33px;
    }
  }
}

// For styleguide
.bg-gallery { background-color: $gallery; }

@media screen and (min-width: 50em) {
  input,
  textarea,
  select {
    font-size: 2.1em;
  }
}
