@import '../../../_settings/helpers/variables';

.video {
  background-color: $gallery;
  padding: 10% 5%;

  .context-head { margin-bottom: 1em; }

  .contain {
    display: flex;
    flex-wrap: wrap;

    .close-video { display: none; }

    .embed {
      position: relative;

      button {
        height: auto;
        opacity: 1;
        padding: 0;
        position: relative;
        transition: opacity 500ms ease;
        width: 100%;
        z-index: 2;

        img { width: 100%; }
      }

      .react-player {
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: opacity 500ms ease;
        width: 100%;
        z-index: -1;
      }
    }

    .copy { margin-top: 4em; }
  }

  .mobile-expand {
    .embed {
      button {
        opacity: 0;
        z-index: 1;
      }

      .react-player {
        opacity: 1;
        z-index: 2;
      }
    }

  }
}

@media screen and (min-width: 50em) {
  .video {
    .contain {
      margin: 0 auto;
      max-width: $max-width;
      position: relative;
      width: 100%;

      > div {
        flex-basis: 50%;
        transition: flex-basis 500ms ease;
      }

      .copy > div {
        margin: 0;
        max-width: 100%;
        padding-left: 20%;
        transition:
          margin 250ms ease,
          max-width 250ms ease,
          padding-left 250ms ease;
      }
    }

    &.full {
      .contain {
        > div { flex-basis: 100%; }

        .close-video {
          display: block;
          margin-bottom: 20px;
          text-align: right;
          width: 100%;

          img { max-width: 25px; }
        }

        .copy > div {
          margin: 4em auto;
          max-width: 50%;
          padding-left: 0;
          text-align: center;
        }

        .embed {
          button {
            opacity: 0;
            z-index: 1;
          }

          .react-player {
            opacity: 1;
            z-index: 2;
          }
        }
      }
    }
  }
}
