.cta {
  background-color: #ffb500;
  padding: 10% 5%;
  text-align: center; }
  .cta a {
    display: block;
    padding-top: 4em;
    text-decoration: none; }
    .cta a svg {
      display: inline;
      margin-right: 1em; }
      .cta a svg polygon, .cta a svg rect {
        fill: #000;
        transition: fill 250ms ease; }
    .cta a p {
      color: #000;
      display: inline;
      margin-bottom: 0;
      transition: color 250ms ease; }
    .cta a:hover svg polygon, .cta a:hover svg rect, .cta a:focus svg polygon, .cta a:focus svg rect {
      fill: #fff; }
    .cta a:hover p, .cta a:focus p {
      color: #fff; }
