.utility {
  order: 2; }
  .utility > div {
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    width: 100%; }
  .utility h2 {
    display: none; }
  .utility a {
    align-items: center;
    color: #8c8c8c;
    display: flex;
    font-family: "Futura Bold", sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.2em;
    margin-bottom: 0.25em;
    order: 2;
    padding: 1em 5%;
    text-decoration: none;
    text-transform: uppercase; }
    .utility a .link-label {
      margin-left: 0.5em; }
    .utility a svg {
      margin-right: 1em; }
      .utility a svg .st0 {
        fill: #8c8c8c; }
    .utility a.product {
      color: #ffb500; }
      .utility a.product svg .st0 {
        fill: #ffb500; }

@media screen and (min-width: 1080px) {
  .link-label {
    display: none; }
  .utility {
    background-color: #ebebeb; }
    .utility > div {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 1180px;
      order: 1;
      padding: 1em 2.5%;
      width: 95%; }
      .utility > div > div {
        align-items: center;
        display: flex;
        order: 2; }
    .utility .company {
      order: 1; }
    .utility h2 {
      color: #8c8c8c;
      display: inline-block;
      font-family: "Futura Bold", sans-serif;
      font-size: 1.3em;
      letter-spacing: 0.2em;
      order: 2;
      text-transform: uppercase; }
    .utility a {
      color: #000;
      font-size: 1.3em;
      margin-bottom: 0;
      order: 1;
      padding: 0;
      transition: color 250ms ease; }
      .utility a:hover, .utility a:focus {
        color: #ffb500; }
      .utility a.company {
        font-size: 2.3em;
        letter-spacing: 0;
        text-transform: none; }
        .utility a.company svg {
          display: none; }
      .utility a.product {
        color: #000;
        order: 3;
        padding-left: 3em;
        transition: color 250ms ease; }
        .utility a.product svg .st0 {
          fill: #000; }
        .utility a.product:hover, .utility a.product:focus {
          color: #ffb500; } }

@media screen and (min-width: 1250px) {
  .utility > div {
    padding: 1em 0;
    width: 100%; } }
