@import './_normalize.css';
@import './_variables.css';
@import './_fonts.css';

body {
  color: var(--black);
  font-family: var(--humanist);
  font-size: 62.5%;
}

/* Paragraph Types */
p {
  font-size: 1.6em;
}
p.medium { font-size: 1.8em; }
p.large { font-size: 2em; }

/* Other Elements */
ul, ol {
  font-size: 1.6em;
  padding-left: 1em;
}
  ul li { margin-bottom: 0.5em; }

/* Utility Colors */
.black { color: var(--black); }
.cod-gray { color: var(--cod-gray); }
.mine-shaft { color: var(--mine-shaft); }
.scorpion { color: var(--scorpion); }
.gray { color: var(--gray); }
.silver-chalice { color: var(--silver-chalice); }
.silver { color: var(--silver); }
.gallery { color: var(--gallery); }
.white { color: var(--white); }

/* Brand Colors */
.school-bus-yellow { color: var(--school-bus-yellow); }
.selective-yellow { color: var(--selective-yellow); }
.mai-tai { color: var(--mai-tai); }
.affair { color: var(--affair); }
.blumine { color: var(--blumine); }
.faded-jade { color: var(--faded-jade); }

/* Page Transitions */
.fade-enter {
  opacity: 0.01;
}
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

.fade-exit {
  opacity: 1;
}
  .fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 400ms ease-in;
  }

/* Utility Classes */
.offscreen {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

@media screen and (min-width: 50em) {
  /* Paragraph Types */
  p.medium { font-size: 2.1em; }
  p.large { font-size: 2.4em; }
}
